.multiSelect{
    display: flex;
    flex-direction: column;
    width: 100%;    
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.multiSelect label{
    flex: 1;
    font-size: var(--ui-s-fs);
    line-height: var(--ui-s-lh);
    letter-spacing: 0.024rem;
    color: var(--black-light-300);
    pointer-events: none;
    margin-bottom: 12px;
}

.multiSelect .options {
    display: flex;
    flex-wrap: wrap;
    gap: 0.42rem;
  }
  
  .multiSelect .pill {
    text-decoration: none;
    flex: 0 1 auto;
    padding: 6px 16px;
    font-size: var(--ui-body-fs);
    line-height: var(--ui-body-lh);
    font-weight: var(--ui-fw-m);
    border-radius: 100px;
    border: 2px solid rgba(0,0,0,0.1); 
    color: #000000;
    cursor: pointer;
    transition: all 0.16s;
  } 

  .multiSelect .pill:focus-visible{
    outline-offset: 2px;
    outline: 2px solid #461E36  ;
  }

    .multiSelect .pill:hover{
        border-color: rgba(0, 0, 0, 0.2);
    }

    .multiSelect .pill.selected {
        background: none;
        color: #000;
        border: 2px solid #461E36;
    }

  .singleSelect .pill{
    padding: 8px 16px;
    font-size: var(--ui-body-fs);
    line-height: var(--ui-body-lh);
    font-weight: var(--ui-fw-m);
    background-color: rgba(0,0,0,0.08);
    color: #000000;
    border: none;
  }

  .singleSelect .pill.selected:focus-visible{
    outline-offset: 2px;
    outline: 2px solid #461E36  ;
  }

    .singleSelect .pill:hover,
    .singleSelect .pill.selected {
        color: #fff;
        background-color:#461E36;
        border: none;
    }
