.textInput {
    position: relative;
    width: 100%;
    min-width: 380px;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }
  
  .textInput textarea,
  .textInput input {
    font-size: var(--ui-body-fs);
    line-height: var(--ui-body-lh);
    font-weight: var(--ui-fw-m);
    letter-spacing: 0;
    width: 100%;
    padding: 30px 16px 8px 16px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 14px;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  .textInput.textarea label{
    top: 1.85rem;
  }

 .textInput label {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--ui-body-fs);
    letter-spacing: 0.024rem;
    color: var(--black-light-300);
    pointer-events: none;
    transition: all 0.32s cubic-bezier(0.79,0.14,0.15,0.86);;
  }

  .textInput input:focus + .label,
  .textInput label.focused {
    top: 20px;
    font-size: var(--ui-s-fs);
    color: var(--black-light-300);
  }

  .textInput textarea:focus-visible,
  .textInput input:focus-visible{
        outline-offset: -2px;
        outline: 2px solid #461E36;
    }

  /* Hacks */


  .textInput textarea::-webkit-outer-spin-button,
  .textInput textarea::-webkit-inner-spin-button,
  .textInput input::-webkit-outer-spin-button,
  .textInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .textInput textarea,
  .textInput input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield; 
  }


  
